html,
body {
  padding: 0;
  margin: 0;
  font-family: "Commissioner", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.productCardSwiper .swiper-button-next {
  color: white;
  background: rgba(0, 66, 63, 0.6);
  background-image: url(/images/right.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  border-radius: 50%;
  padding: 23px;
}

.productCardSwiper .swiper-button-prev {
  color: white;
  background: rgba(0, 66, 63, 0.6);
  background-image: url(/images/left.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  border-radius: 50%;
  padding: 23px;
}
.productCardSwiper .swiper-button-next::after {
  display: none;
}
.productCardSwiper .swiper-button-prev::after {
  display: none;
}
.imagesSwiper .swiper-button-next::after {
  display: none;
}
.imagesSwiper .swiper-button-prev::after {
  display: none;
}
.swiper-pagination .swiper-pagination-bullet-active {
  background-color: rgb(0, 66, 63);
}
